/* Title */
#title {
  background-color: #ff4c68;
}

.text2 {
  font-family: "Montserrat";
}

.text1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  padding: 20% 1% 1% 1%;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15%;
}

.imgtelefono {
  padding: 10% 5%;
}

/* Features */
#features {
  text-align: center;
  color: #ff4c68;
  font-family: "Ubuntu";
  padding: 7% 12%;
}

.Monse {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

.Monse2 {
  color: #4c5039;
}

/* Testimonials */
#testimonials {
  padding: 7% 12%;
  text-align: center;
  background-color: #ff4c68;
  color: #ffffff;
  font-style: "Montserrat";
  font-size: 5rem;
}
